*.iml
ohyeah/.gradle
ohyeah/.idea
ohyeah/local.properties
ohyeah.DS_Store
ohyeah/conversations/build
ohyeah/database/build
ohyeah/deeplink/build
ohyeah/helpers/build
ohyeah/info/build
ohyeah/injection/build
ohyeah/messages/build
ohyeah/push/build
ohyeah/receiver/build
ohyeah/resources/build
ohyeah/routing/build
ohyeah/setreminder/build
ohyeah/viper/build
ohyeah/captures
.externalNativeBuild
.cxx
.DS_Store
